<h1 align='center'> Welcome to Medio! Connect and Meet with others! </h1>
<h4 align='center'> Here to build lasting connections </h4> 
<h3 align='center'> Log in </h3>

<%= form_with scope: :user, url: login_path, html: {align: "center"} do |f|%>
                
    <p align='center'> <strong> <%=f.label :username%> </strong> </p>
    <%=f.text_field :username%> <br> <br>

    <p><strong> <%=f.label :password%> </strong> </p>
    <%=f.password_field :password%> <br><br>

    <%= f.submit "Log In"%>

<% end %>

<h4> <%= flash[:message] if flash[:message]%> </h4>