            <h1 align="center"> Hi <%= @user.first_name%>! You can edit your profile below: </h1>

<%= render(partial: "errors/errors", locals: {model: @user})%>

            <%= form_with model: @user do |f|%>
                <strong> <%=f.label :first_name %> </strong>
                <%= f.text_field :first_name%> <br> <br>

                <strong> <%=f.label :last_name%> </strong>
                <%=f.text_field :last_name%> <br> <br>

                <strong> <%=f.label :username%> </strong>
                <%=f.text_field :username%> <br> <br>

                <strong> <%=f.label :birth_date%> </strong>
                <%=f.date_field :birth_date%><br><br> 

                <!--type="date" id="date-of-birth" name="date-of-birth"
                value="2021-07-13"
                min="1900-01-01" max="2021-07-13"--> 

                <strong> <%= f.label :age %> </strong>
                <%= f.number_field :age%> <br> <br>

                <strong> <%= f.label :bio%> </strong>
                <%= f.text_area :bio%> <br><br>

                <p> <strong> Preferences </strong> </p>

                <% @preferences.each do |preference|%>
                    <%= f.check_box "preferences[#{preference.preference_type.to_sym}]"%>
                    <%= f.label preference.preference_type.to_sym %><br>
                <% end %>

                <br><br>

                <%= f.submit "Save Changes"%>

            <% end %>
            
<br>
<p> If you want to delete your account: </p>
<%= button_to "Delete Account", { action: "delete" }, :confirm => "Are you sure?"%>